{
    
        "sourceMaps": "inline",
        "presets": [
            "@babel/preset-react",
            "@babel/preset-env"
        ],
        "plugins": [
            [
                "transform-import-css",
                {
                    "generateScopedName": "lib-[name]-[local]-[hash:base64:4]"
                }
            ],
            "transform-class-properties"
        ]
    
}