body.dark{
  background-color:#282c35;
  color:#fff;
}

body.dark *
  {
    background: #282c35;
    color:#fff;
  }

body.dark div span{
    color: #fff;  
}

body.dark span{
    color: #fff;  
}
/*
  Inky Style
*/
body.inky{
  background-color:#05093a;
  color:#fff;
}

body.inky *
  {
    background: #05093a;
    color:#fff;
  }

body.inky div span{
    color: #fff;  
}

body.inky span{
    color: #fff;  
}
/*
  Starless Style
*/
body.starless{
  background-color:#000;
  color:#fff;
}

body.starless *
  {
    background: #000;
    color:#fff;
  }

body.starless div span{
    color: #fff;  
}

body.starless span{
    color: #fff;  
}

.monochroma_parent .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.monochroma_parent .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.monochroma_parent .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.monochroma_parent .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.monochroma_parent .switch input:checked + .slider {
  background-color: #FF6347;
}

.monochroma_parent .switch input:focus + .slider {
  box-shadow: 0 0 1px #FF6347;
}

.monochroma_parent .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.monochroma_parent .switch .slider.round {
  border-radius: 34px;
}

.monochroma_parent .slider.round:before {
  border-radius: 50%;
}

.switchParent{
    position: absolute;
    z-index: 9999999;
}
